html {
  height: 100dvh;
}

html, body {
  overflow-x: hidden;
}

.custom-card-posts {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .custom-card-posts .card-content {
    flex-grow: 1;
  }

.navbar,
.footer,
.hero-background {
    background-image: url('/assets/images/yellow-splashes-watercolour.jpg');
    background-size: cover;
    background-position: center;
}

.custom-hero {
  display: block;
  max-width: 100%;
  height: auto;
  clip-path: polygon(
    0% 8%, 8% 0%, 100% 0%, 100% 89%, 93% 100%, 0% 100%
  );
  transform: rotate(-2.3deg) translate(-5px, 3px);
}


.navbar {
  position: relative; 
  overflow: hidden; 
}

.navbar-item {
  position: relative; 
  overflow: visible; 
}

.navbar-item:hover {
  background-color: transparent !important; 
  box-shadow: none !important;
}

.navbar-item:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 80%;
  height: 2.5em;
  background: rgba(0, 0, 0, 0.35);
  filter: blur(30px);
  transform: translateY(-50%);
  pointer-events: none;
  will-change: transform, opacity; /* Safari-fix */
}


/* Typography */
.rubik-vinyl-regular {
  font-family: "Rubik Vinyl", serif;
  font-weight: 400;
  font-style: normal;
}


/* Utility Classes */

.no-wrap {
    white-space: nowrap;
}

/* Music cards */
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-content .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-content .buttons {
  margin-top: auto;
  padding-top: 1rem;
}

/* Ensure images cover the card */
.card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}