.custom-card-posts {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .custom-card-posts .card-content {
    flex-grow: 1;
  }

.footer,
.hero-background {
    background-image: url('/assets/images/yellow-splashes-watercolour.jpg');
    background-size: cover;
    background-position: center;
}

/* Utility Classes */

.no-wrap {
    white-space: nowrap;
}