.hero-background {
    background-image: url('/assets/images/yellow-splashes-watercolour.jpg');
    background-size: cover;
    background-position: center;
}

/* Utility Classes */

.no-wrap {
    white-space: nowrap;
}