body {
    background-image: url('#{$baseurl}/public/images/yellow-splashes-watercolour.jpg');
    background-size: cover;
}

@import "hero.scss";
@import "projects.scss";

.site-header {
    border-top: 0px;
}

.footer-col-right {
    float: right;
    text-align: end;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }

@include media-query($on-palm + 200) {
    .footer-col-right {
        float: none;
        text-align: left;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}