.projects-section {
    padding: 20px 0;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: 300px; /* Adjust as needed */
    text-align: center;
}

.project-card img {
    max-width: 100%;
    height: auto;
}