<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  {% include "_head.html" %}
  
  <body>
    {% include "_navbar.html" %}

    <section class="section">
      <div class="container">
        <div class="content has-text-centered">
          <h1 class="title">{{ title }}</h1>
          {% if subtitle %}<p class="subtitle">{{ subtitle }}</p>{% endif %}
        </div>

        <div class="columns is-multiline is-mobile">
          {% for track in collections.music | reverse %}
          <div class="column is-6-mobile is-4-tablet is-3-desktop">
            <div class="card">
              <div class="card-image">
                <figure class="image is-square">
                  <img src="{{ track.data.image }}" alt="{{ track.data.title }} by {{ track.data.artist }}">
                </figure>
              </div>
              <div class="card-content">
                <h3 class="title is-5">{{ track.data.title }}</h3>
                <p class="subtitle is-6">{{ track.data.artist }}</p>
                <div class="content">
                  <p>{{ track.data.description }}</p>
                  <div class="buttons">
                    <a href="{{ track.data.link }}" target="_blank" rel="noopener" class="button is-link is-small">
                      <span class="icon">
                        <i class="fas fa-music"></i>
                      </span>
                      <span>Listen</span>
                    </a>
                    {% if track.data.spotify %}
                    <a href="{{ track.data.spotify }}" target="_blank" rel="noopener" class="button is-small">
                      <span class="icon">
                        <i class="fab fa-spotify"></i>
                      </span>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% include "_footer.html" %}
  </body>
</html>