<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

    {% include "_head.html" %}

    <body>

    {% include "_navbar.html" %}

    <section class="section">
      <div class="container">
        <div class="has-text-centered mb-5">
          <h1 class="title is-size-2">{{ title }}</h1>
          <p class="subtitle is-size-5">{{ excerpt }}</p>
        </div>

        <div id="photo-grid" class="columns is-multiline is-mobile">
        </div>

        <noscript>
          <div class="columns is-multiline is-mobile">
            {% photosNoscript %}
          </div>
        </noscript>
      </div>
    </section>

    <section class="section has-background-light">
      <div class="container">
        <div class="columns is-vcentered is-centered">
          <div class="column is-narrow">
            <figure class="image is-3by2" style="width: 280px;">
              {% image "/assets/images/postcard-handheld.jpg", "A handheld postcard." %}
            </figure>
          </div>
          <div class="column is-4">
            <h3 class="title is-size-3">Fancy a physical copy?</h3>
            <p class="subtitle is-size-5">From postcard to living room for prints. Just reach out.</p>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </div>
        </div>
      </div>
    </section>

    <footer>
      {% include "_footer.html" %}
    </footer>

    <script>
      window.__PHOTOS__ = {% photosJson %};
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox@3.3.0/dist/css/glightbox.min.css" integrity="sha384-GPAzSuZc0kFvdIev6wm9zg8gnafE8tLso7rsAYQfc9hAdWCpOcpcNI5W9lWkYcsd" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/glightbox@3.3.0/dist/js/glightbox.min.js" integrity="sha384-/+Fc1LD6ksHYZ+2MChiSfjEXBcl4q2axUWhs6/CdnfqY5aLmrPwtysVzyeP0s60b" crossorigin="anonymous"></script>
    <script src="/assets/js/photos.js"></script>
  </body>
</html>
