<!DOCTYPE html>
<html>

    {% include "_head.html" %}
  
    <body>
      
    {% include "_navbar.html" %}

    <header style="background: url('{{ media.hero.src }}') no-repeat center center; background-size: cover;">
      <div class="hero is-fullheight-with-navbar" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title has-text-grey-lighter is-size-1">
              {{ title }}
            </h1>
          </div>
        </div>
        <div class="hero-foot" style="background-color: rgba(0, 0, 0, 0.3);">
          <div class="container has-text-right p-2">
            <span class="has-text-grey-lighter">
              <span class="icon">
                <i class="fas fa-pencil"></i>
              </span> 
              {{ page.date | date: "%Y-%m-%d" }}
              |
              <span class="icon">
                <i class="fas fa-glasses"></i>
              </span> 
              <span>{{ readingTime }}</span>
            </span>
              
          </div>
        </div>
      </div>
    </header>

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-fifths">
            <div class="columns is-centered is-mobile">
              <div class="column is-four-fifths">
                <blockquote class="block box has-background-light is-italic mb-5">
                  {{ excerpt }}
                </blockquote>
              </div>
            </div>
            <article class="content block">
              {{ content }}
            </article>
          </div>
        </div>
      </div>
    </section>

    <footer>
      {% include "_footer.html" %}
    </footer>
  </body>
</html>