<!DOCTYPE html>
<html>

    {% include "_head.html" %}
  
    <body>

    <header>
      <div class="hero is-fullheight hero-background">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half">
                    <h1 class="title">
                        {{ site.title }}
                      </h1>
                      <p class="tagline is-size-5">
                        {{ site.tagline}}
                      </p>
                </div>
                <div class="column">
                    <figure image is-3by2>
                        <img src="{{ images.hero }}" alt="{{ images.hero_alt }}">
                    </figure>
                </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <main>

      <section class="section">
        <div class="container">
          <h2 class="title is-2">{{ projects.title }}</h2>
          
          {% for project in projects.items %}
          <a href="{{ project.url }}" target="_blank" rel="noopener" class="mb-5 has-text-grey-dark">
            <div class="card mb-5">
              <div class="card-content">
                <article class="media">
                  <figure class="media-left">
                    <p class="image is-128x128">
                      <img src="{{ project.image }}" alt="{{ project.alt }}">
                    </p>
                  </figure>
                  <div class="media-content">
                    <p class="title is-4">
                      {{ project.name }}
                    </p>
                    <p class="content">
                      {{ project.description }}
                      <span class="no-wrap is-small has-text-grey">[ 🔗 {{ project.url | replace: 'https://', '' }} ]</span>
                    </p>
                  </div>
                </article>
              </div>
            </div>
          </a>
          {% endfor %}
          
        </div>
      </section>

      <section class="section has-background-light">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-two-thirds">
              <div class="card has-background-white">
                <div class="card-content has-text-centered">
                  <h1 class="title">{{ about.title }}</h1>
                  <div class="columns is-vcentered">
                    <div class="column is-two-quarters has-text-left">
                      <p>{{ about.content1 }}</p>
                      <p>{{ about.content2 }}</p>
                    </div>
                    
                    <div class="column is-two-quarters">
                      <figure class="image is-5by3">
                        <img src="{{ about.photo }}" alt="{{ about.alt }}">
                      </figure>
                    </div>
                  </div>
                </div>
              </div><!-- card -->
            </div><!-- column is-two-thirds -->
          </div><!-- columns is-centered -->
        </div><!-- container -->
      </section>

      <!-- Posts Section -->
      <section class="section">
        <div class="container">
          <h2 class="title is-2">{{ posts.title }}</h2>
          <div class="columns is-multiline">
            {% for post in collections.posts reversed %}
            <div class="column is-one-third is-flex">
              <a href="{{ post.url }}" class="card-link is-flex-grow-1">
                <div class="card custom-card-posts">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="{{ post.data.images.thumbnail }}" alt="Thumbnail image for {{ post.data.title }}">
                    </figure>
                  </div>
                  <div class="card-content">
                    <h3 class="title is-4">{{ post.data.title }}</h3>
                    <div class="content">
                      {{ post.data.excerpt }}
                    </div>
                  </div>
                  <footer class="card-footer">
                    <span class="card-footer-item is-size-6 has-text-grey">{{ post.date | date: '%Y-%m-%d' }}</span>
                    <span class="card-footer-item has-text-link">{{ posts.read_more }}</span>
                  </footer>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <hr class="container" />


      <section class="section">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-one-quarter">
              <a href="{{site.socials.instagram}}" target="_blank" rel="noopener" >
                <figure class="image is-3by2">
                  <img src="/assets/images/postcard-handheld.jpg" alt="A handheld postcard of mine.">
                </figure>
              </a>
            </div>
          </div>
        </div>
      </section>


    </main>

    {% include "_footer.html" %}
  
  </body>
</html>
