<!DOCTYPE html>
<html>

    {% include "_head.html" %}
  
    <body>
    <header>
      <div class="hero is-fullheight hero-background">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half">
                    <h1 class="title">
                        {{ site.title }}
                      </h1>
                      <p class="tagline is-size-5">
                        a curious generalist exploring the wonders of the universe
                      </p>
                </div>
                <div class="column">
                    <figure image is-3by2>
                        <img src="/assets/images/postcard-handheld.jpg" alt="A handheld postcard">
                    </figure>
                </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <main>
      <div class="columns is-centered">
        <div class="column is-two-thirds ">
          <section class="section has-background-light my-6">
              <h1 class="title">{{ about.title }}</h1>
              <p>{{ about.content1 }}</p>
              <p>{{ about.content2 }}</p>
          </section>
        </div>
      </div>
    </main>

    {% include "_footer.html" %}
  
  </body>
</html>
